/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### vs code ###
.vscode

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### Application specific ###
application-dev.properties
src/main/resources/static/images/
src/main/resources/static/css/
src/main/resources/static/favicon.ico
src/main/resources/static/js/
src/main/resources/static/static/
src/main/resources/templates/index.html
spy.log
